.homepage-component {
    --oxford-blue: #01133Dff;
    --blue-green: rgb(11, 166, 209);
    --oxford-blue-2: #02113Aff;
    --oxford-blue-3: #030F36ff;
    --indigo-dye: #154A7Fff;
    --berkeley-blue: #072D53ff;
    --oxford-blue-4: #00204Bff;
    --oxford-blue-5: #01133Aff;
    --oxford-blue-6: #001943ff;
    --oxford-blue-7: #030C31ff;
    position: fixed;
    width: 101vw;
    height: 100vh;
    background: repeating-radial-gradient(circle at center, var(--oxford-blue-7), var(--oxford-blue), var(--blue-green), var(--oxford-blue-7), var(--oxford-blue-7), var(--oxford-blue), var(--blue-green), var(--oxford-blue-7), var(--oxford-blue-7), var(--oxford-blue), var(--blue-green), var(--oxford-blue-7), var(--oxford-blue-7), var(--oxford-blue), var(--blue-green), var(--oxford-blue-7));
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.homepage-component::-webkit-scrollbar {
    display: none;
}

.homepage-container {
    position: fixed;
    width: 900px;
    height: 700px;
    border-radius: 30px;
    background-color: var(--blue-green);
    border: 10px solid var(--blue-green);
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
    padding: 20px;
    padding-top: 0;
    display: block;
}

.homepage-title {
    width: 100%;
    height: 21%;
    display: block;
    margin-top: 5px;
}

.homepage-title h1, .homepage-title h3 {
    text-align: center;
    color: var(--oxford-blue-7);
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.homepage-title h3 {
    margin-top: 10px;
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 0;
    font-style: italic;
}

.homepage-title span {
    padding: 5px 10px;
    border-radius: 15px;
    background-color: var(--oxford-blue-7);
    color: rgb(120, 215, 180);
}

.homepage-title h1 {
    margin: 0;
    font-size: 45px;
}

.homepage-description {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: auto auto;
    background-color: whitesmoke;
    margin-top: 50px;
}

.homepage-description div {
    width: 90%;
    margin: auto;
    padding: 20px 0;
}

.homepage-description p {
    font-size: 25px;
    text-align: center;
    margin: auto;
    color: var(--oxford-blue-7); 
    /* color: white; */
    font-family: monospace;
    font-weight: bold;
}