.serverbar-component {
    position: relative;
    width: 250px;
    height: 100vh;
    background-color: rgb(43, 45, 49);
    display: grid;
    grid-template-rows: 40px auto 50px;
}

.serverbar-top {
    width: 100%;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(28, 29, 31);
    padding-top: 3px;
}

.serverbar-top button {
    width: 90%;
    height: 25px;
    background-color: rgb(28, 29, 31);
    border: none;
    color: rgb(137, 145, 153);
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
}

.serverbar-top button:hover {
    cursor: pointer;
}

.serverbar-middle {
    width: 100%;
    grid-row: 2;
    display: grid;
    justify-items: center;
    grid-template-rows: 70px auto;
}

.serverbar-middle-default-buttons {
    grid-row: 1;
    width: 100%;
    display: block;
    padding-top: 10px;
}

.serverbar-middle-default-button {
    width: 95%;
    height: 50px;
    border-radius: 5px;
    background-color: none;
    display: grid;
    grid-template-columns: 50px auto;
    margin: auto;
}

.serverbar-middle-default-button:hover {
    background-color: rgb(64, 66, 72);
    cursor: pointer;
    .serverbar-middle-default-button-icon, .serverbar-middle-default-button-title p {
        color: rgb(220, 222, 225);
    }
}

.serverbar-middle-default-button-icon {
    color: rgb(149, 155, 163);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.serverbar-middle-default-button-title {
    display: flex;
    justify-content: left;
    align-items: center;
}

.serverbar-middle-default-button-title p {
    margin: 0;
    text-transform: capitalize;
    color: rgb(149, 155, 163);
    font-weight: bold;
    margin-left: 10px;
    font-size: 18px;
}

.serverbar-middle-DM-buttons {
    grid-row: 2;
    width: 100%;
    display: grid;
    grid-template-rows: 30px auto;
}

.serverbar-middle-DM-title {
    grid-row: 1;
    display: grid;
    grid-template-columns: 90% 10%;
}

.serverbar-middle-DM-title-text {
    grid-column: 1;
    display: flex;
    justify-content: left;
    align-items: center;
}

.serverbar-middle-DM-title-text p {
    margin: 0;
    color: rgb(149, 155, 163);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin-left: 10px;
}

.serverbar-middle-DM-title-icon {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(149, 155, 163);
}

.serverbar-middle-DM-title-icon:hover {
    cursor: pointer;
    color: white;
}

.serverbar-middle-DM-title-text:hover p {
    color: white;
}

.serverbar-middle-DM-title-overlay-text {
    position: fixed;
    background-color: black;
    height: auto;
    width: auto;
    max-width: 200px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    margin-left: 200px;
    margin-top: -25px;
}

.serverbar-middle-DM-title-overlay-text p {
    color: white;
    font-weight: bold;
    margin: 0;
    font-size: 15px;
}

.serverbar-middle-DM-button-section {
    grid-row: 2;
    display: block;
}

.serverbar-middle-DM-button {
    width: 95%;
    height: 50px;
    margin: auto;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 20% 70% 10%;
    cursor: pointer;
}

.serverbar-middle-DM-button:hover {
    background-color: rgb(53, 55, 60);
    .serverbar-middle-DM-button-title p {
        color: rgb(220, 222, 225);
    }
    .serverbar-middle-DM-button-close {
        visibility: visible;
    }
    .serverbar-middle-DM-button-icon-status {
        background-color: rgb(53, 55, 60);
    }
}

.serverbar-middle-DM-button-close:hover {
    color: rgb(220, 222, 225);;
}

.serverbar-middle-DM-button-icon {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serverbar-middle-DM-button-icon img, .serverbar-bottom-user-icon img {
    width: 35px;
    height: 35px;
    border-radius: 30px;
}

.serverbar-middle-DM-button-icon-status {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 30px;
    background-color: rgb(43, 45, 49);
    margin-left: 20px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serverbar-middle-DM-button-icon-status-child {
    width: 5px;
    height: 5px;
    border-radius: 30px;
    border: 3px solid red;
}

.serverbar-middle-DM-button-title {
    grid-column: 2;
    display: flex;
    justify-content: left;
    align-items: center;
}

.serverbar-middle-DM-button-title p {
    margin: 0;
    color: rgb(149, 155, 163);
    font-size: 16px;
    margin-left: 10px;
    font-weight: bold;
}

.serverbar-middle-DM-button-close {
    grid-column: 3;
    color: rgb(149, 155, 163);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.serverbar-bottom {
    grid-row: 3;
    width: 100%;
    background-color: rgb(35, 36, 40);
    display: grid;
    grid-template-columns: 50% auto auto auto;
}

.serverbar-bottom-user {
    grid-column: 1;
    display: grid;
    grid-template-columns: 30% auto;
    padding-left: 5px;
}

.serverbar-bottom-user-icon {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serverbar-bottom-user-name {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serverbar-bottom-user-name h3 {
    margin: 0;
    color: white;
    font-size: 15px;
}

.serverbar-bottom-mic {
    grid-column: 2;
}

.serverbar-bottom-headphones {
    grid-column: 3;
}

.serverbar-bottom-settings {
    grid-column: 4;
}

.serverbar-bottom-mic, .serverbar-bottom-headphones, .serverbar-bottom-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgb(182, 186, 192);
}

#serverbar-bottom-mic:hover, #serverbar-bottom-headphones:hover, #serverbar-bottom-settings:hover {
    color: white;
    cursor: pointer;
}