.sidebar-component {
    position: fixed;
    width: 70px;
    --sidebar-width: 70px;
    height: 100vh;
    background-color: rgb(30, 31, 34);
    display: block;
    padding-top: 5px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.sidebar-icon-container {
    width: 100%;
    height: calc(var(--sidebar-width) - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-icon {
    --sidebar-icon-wh: 50px;
    width: var(--sidebar-icon-wh);
    height: var(--sidebar-icon-wh);
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-icon-hover-indicator {
    position: absolute;
    width: 5px;
    height: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    left: 0;
}

.default-icon {
    background-color: rgb(49, 51, 56);
    color: rgb(80, 163, 97);
    font-size: 25px;
}

.user-icon img {
    border-radius: 30px;
    width: var(--sidebar-icon-wh);
    height: var(--sidebar-icon-wh);
}

.user-icon img:hover {
    transition: all 0.4s;
    border-radius: 15px;
}

#direct-message-icon {
    color: white;
}

#direct-message-icon:hover {
    background-color: rgb(90, 100, 234);
}

.default-icon:hover {
    transition: all 0.4s;
    border-radius: 15px;
    background-color: rgb(80, 163, 97);
    color: white;
}

hr {
    width: 40%;
    border: 1px solid rgb(48, 49, 53);
}

.overlay-text {
    position: fixed;
    background-color: black;
    height: auto;
    width: auto;
    max-width: 200px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
}

.overlay-text p {
    color: white;
    font-weight: bold;
    margin: 0;
}