.login-component {
    position: fixed;
    width: 101vw;
    height: 100vh;
    background: url('../../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.login-component::-webkit-scrollbar {
    display: none;
}

.login-container {
    position: fixed;
    width: 650px;
    height: 650px;
    border-radius: 30px;
    background-color: transparent;
    border: 10px solid transparent;
    box-sizing: border-box;
    box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 1), 0 6px 100px 0 rgba(0, 0, 0, 1);
    padding: 20px;
    padding-top: 0;
    padding-bottom: 10px;
    display: block;
}

.login-title {
    width: 100%;
    height: 17%;
    display: block;
    margin-top: 5px;
}

.login-title h1, .login-title h3 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-title h3 {
    margin-top: 10px;
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 0;
    font-style: italic;
}

.login-title span {
    padding: 5px 10px;
    border-radius: 15px;
    background-color: rgb(75, 166, 244);
    color: rgb(247, 25, 255);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(65, 0, 122);
}

.login-title h1 {
    margin: 0;
    font-size: 45px;
}

.login-form {
    width: 100%;
    height: 55%;
    display: grid;
    margin-top: 50px;
    text-align: center;
}

.login-form-password, .login-form-button {
    margin-top: 50px;
}

.login-form label, .login-form h3 {
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.login-form p {
    color: white;
    background-color: red;
    width: 43%;
    text-align: center;
    margin: auto;
    text-transform: lowercase;
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: -8px;
    font-weight: bold;
    border-radius: 15px;
    padding-bottom: 3px;
}

#signup-form-email-username-error {
    width: 55%;
}

.login-form input {
    width: 80%;
    justify-self: center;
    height: 40px;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    outline: none;
    font-weight: bold;
    border: 3px solid white;
    margin-top: 10px;
    color: black;
}

.login-form-password-checkbox {
    display: grid;
    grid-template-columns: 5% 25%;
    margin: auto;
    justify-content: center;
}

.login-form-password-checkbox-col1 {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form-password-checkbox-col2 {
    grid-column: 2;
    display: flex;
    justify-content: left;
    align-items: center;
}

#login-form-password-checkbox {
    height: 15px;
    cursor: pointer;
}

#login-form-password-checkbox:checked {
    accent-color: rgb(104, 184, 236);
}

.login-form-password-checkbox label {
    text-transform: capitalize;
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 7px;
}

.login-form button {
    width: 30%;
    height: 50px;
    border-radius: 25px;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: bold;
    background-color: white;
    border: 3px solid white;
    color: rgb(247, 25, 255);
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: rgb(65, 0, 122);
    cursor: pointer;
    margin-top: 20px;
}

.login-form button:hover {
    background-color: transparent;
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
}

.login-form button:active {
    background-color: transparent;
    color: rgb(247, 25, 255);
    border: 3px solid rgb(247, 25, 255);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(247, 25, 255);
}

.signup-page-link {
    width: 100%;
    height: 19%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.signup-page-link a {
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

.signup-page-link a:active {
    color: rgb(247, 25, 255);
}